layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab_template name="stacked" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane
            pane stacked=true {
                pane
                pane
                pane
                pane
            }
        }
    }
    tab_template name="horizontal" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane
            pane
        }
    }
    tab_template name="single" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
    }
    stacked
    horizontal
    single
}
