window {
  margin: 0px;
  /* border: 1px solid #89b4fa; */            /* Catppuccin Blue */
  border: 1px solid #458588;                  /* Gruvbox Blue */
  /* background-color: #1e1e2e; */            /* Catppuccin Base */
  background-color: #1d2021;                  /* Gruvbox Hard Background */
  border-radius: 5px;
}

#input {
  margin: 5px;
  border: none;
  /* color: #cdd6f4; */                       /* Catppuccin Text */
  color: #ebdbb2;                             /* Gruvbox Foreground */
  /* background-color: #313244; */            /* Catppuccin Surface0 */
  background-color: #282828;                  /* Gruvbox Background */
}

#inner-box {
  margin: 5px;
  border: none;
  /* background-color: #1e1e2e; */            /* Catppuccin Base */
  background-color: #1d2021;                  /* Gruvbox Hard Background */
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  /* background-color: #1e1e2e; */            /* Catppuccin Base */
  background-color: #1d2021;                  /* Gruvbox Hard Background */
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  /* color: #cdd6f4; */                       /* Catppuccin Text */
  color: #ebdbb2;                             /* Gruvbox Foreground */
}

#entry:selected {
  /* background-color: #45475a; */            /* Catppuccin Surface1 */
  background-color: #3c3836;                  /* Gruvbox Dark Gray (Selection) */
}
